name: Rust

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install Rust
      uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: nightly-2020-12-23
        default: true
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose
